site_name: Complete Journey Python Documentation
site_description: Python data package for grocery store shopping transaction analysis
site_author: James Cunningham
site_url: https://jamescunningham.github.io/completejourney_py

repo_name: jamescunningham/completejourney_py
repo_url: https://github.com/jamescunningham/completejourney_py
edit_uri: edit/main/docs/

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: blue
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: blue
      accent: amber
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: google
            show_source: false
            show_signature_annotations: true
  - mkdocs-jupyter:
      include_source: true
      execute: false

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
  - tables

nav:
  - Home: index.md
  - User Guide:
    - Getting Started: user-guide/getting-started.ipynb
    - Dataset Overview: user-guide/datasets.ipynb
    - Installation: user-guide/installation.md
  - Cookbooks:
    - Dataset Summary Analysis: cookbook/dataset-summary-analysis.ipynb
    - Top Selling Products: cookbook/top-products.ipynb
    - Shopping Frequency Analysis: cookbook/shopping-frequency.ipynb  
    - Coupon Analysis: cookbook/coupon-analysis.ipynb
    - Traffic Patterns: cookbook/traffic-patterns.ipynb
    - Demographic Product Analysis: cookbook/demographic-product-analysis.ipynb
    - Market Basket Analysis: cookbook/basket-analysis.ipynb
  - API Reference:
    - get_data: api/get_data.md
  - About:
    - Changelog: about/changelog.md
    - License: about/license.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/jamescunningham/completejourney_py
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/completejourney-py/


